/* Montserrat - 400 */

/* Montserrat - 500 */

/* Oswald 500 */


* {
  box-sizing: border-box;
}



.container {
  margin: 0 auto;
  width: 1440px;
  border: 2px solid red;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}



/* HEADER */



.header {
  padding: 31px 0;
  background-color: #66D1FF;

}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 8px 41px;
  width: 276px;
  height: 45px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.number {
  color: rgba(6, 13, 16, 1);
}


/* Promo */


.promo {
  background-image: url(/pictures/promo.jpg);
  width: 1440px;
  height: 766px;
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-title {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  margin: 81px 240px 81px 30px;
}

.promo-text {
  color: #FFFFFF;
  margin: 190px 30px 190px 260px;
}


/* LEAD */


.lead {

  background-color: rgba(102, 209, 255, 0.1);
}


/* ORDER */
.order {
  display: block;
  text-align: center;
  background: linear-gradient(208.35deg, rgb(102, 209, 255, 0.1)
              43.85%, rgba(196, 196, 196, 0) 43.86%);

}

.order-wrap {
  display: flex;
  justify-content: space-between;
}

.order-text {
  margin: 170px auto 30px;
  font-size: 48px;
  line-height: 167%;
  color: rgba(6, 13, 16, 1);
}





/* Footer */

.footer {
  padding: 35px 0;
  color: #FFFFFF;
  background-color: #060D10;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin: 0;
  font-size: 20px;
  line-height: 167%;
}

.social {
  display: flex;
  margin: 0;
  list-style: none;
}

.social-item {
  margin-left: 20px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.copyright-info {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}
